<head>
  <title>My Web Page</title>
  <script src="https://cdn.jsdelivr.net/npm/@tensorflow/tfjs"></script>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <!-- Add your CSS file link here -->
  <!-- <link rel="stylesheet" href="style.css"> -->
</head>
<body>
  <header>
      <h1>Welcome to My Web Page</h1>
  </header>
  <button id="startButton" (click)="startPlaying()">Start playing</button>
  <button id="startButton" (click)="stopPlaying()">Stop</button>
  <video id="trackingVideo" width="900" height="600" autoplay style="border: 1px solid black; display: none;"></video>
  <canvas id="canvas" class="border canvasbox"></canvas>
</body>